{% extends "base.html" %}

{% block main %}
    <main>
        <div>
            <h1>{{ todolist }}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in todolist.items.all %}
                        <tr>
                            <td>{{ task }}</td>
                            <td>{{ task.due_date|date:"M, d, Y" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock main %}
