{% extends "base.html" %}

{% block main %}
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todolist_name.all %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_list_detail' pk=item.pk %}">{{ item }}</a>
                            </td>
                            <td>{{ item.items.all| length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock main %}
